body {
  margin: 0;
  font-family: "Montserrat-Bold", "Courier New", monospace;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}
